@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
</br>
</br>
</br>
<h3>Trainning C#</h3>
</br>
<h4>This page was developed for trainning C# language.</h4>
<p>Were used several concepts:</p>
<p>- Linq;</p>
<p>- ASPNet Core;</p>
<p>- Entity Framework;</p>
